<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <main>
            <h1>Account List</h1>
            <table>
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Number</th>
                        <th>Number of receipts</th>
                    </tr>
                </thead>
                <tbody>
                {% for receipt in account_list %}
                    <tr>
                        <td>{{ receipt.name }}</td>
                        <td>{{ receipt.number }}</td>
                        <td>{{ receipt.name.all|length }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
    </main>
</body>
</html>
